## Why Python

- [stackoverflow trends](https://insights.stackoverflow.com/trends?tags=java%2Cc%2Cc%2B%2B%2Cpython%2Cc%23%2Cvb.net%2Cjavascript%2Cassembly%2Cphp%2Cperl%2Cruby%2Cswift%2Cr%2Cobjective-c)
- [google trends](https://trends.google.com/trends/explore?date=all&q=%2Fm%2F05z1_,%2Fm%2F02p97)

## Topics to cover:
- strings and numbers
- printing
- variables and scope
- calling a python script with arguments: sys.argv
- working with files: .read, .write, .close
- variable names, functions,
- conditional expressions and booleans, primitives, trthiness
- flow control if, elif, else
- loops, iterations and lists
  - for
  - while
- debugging and coding recomandations
- working with lists
- working with dicts
- modules and packages
- objects and classes 

## Reference
[Learn Python The Hard Way](https://learntocodetogether.com/learn-python-the-hard-way-free-ebook-download/)

# Printing, Strings and Numbers

- print
- str
- int

In [4]:
print ('foo')

foo

In [6]:
nume = "Zoli Szeredi"
print ("Mă numesc", nume, "și vă vom invața impreună Python")

Mă numesc Zoli Szeredi și vă vom invața impreună Python

In [7]:
organizatie = "Syneto"
rol = 'software developer'
an = 2019

cstring = 'Eu sunt in %s' % 'Arad'
print (cstring)

message = "Sunt {} la {}.".format(rol, organizatie)
print (message)

mesaj = f"Salut, sunt {nume}, {rol} de la {organizatie} din anul {an}."
print (mesaj)

Eu sunt in Arad
Sunt software developer la Syneto.
Salut, sunt Zoli Szeredi, software developer de la Syneto din anul 2019.

In [9]:
def greet(name, organization, role, year):
    """Prints a friendly greeting."""
    print('*' * 80)
    print(f"Salut, sunt {name}, {role} la {organization} din anul {year}.")
    print('*' * 80)      

    
greet(name='Alex', organization='UPT', role='student', year=3)

********************************************************************************
Salut, sunt Alex, student la UPT din anul 3.
********************************************************************************

In [2]:
#! /usr/bin/env python3
# about.py
    
import sys

def about(color, animal):
    return f"My favorite color is {color} and I am a {animal} person."

about('verde', 'pisica')

'My favorite color is verde and I am a pisica person.'

```bash
shell> python3 about.py blue dog

My favorite color is Blue and I am a dog person.
```

You can also run the script directly on UNIX based platforms: MacOS, Linux, BSD.
Provided you have the shebang header and the file is executable (chmod +x)

# Usefull Methods:

### in

In [4]:
'zzz' in 'pizza'

False

### split

In [6]:
# split
name, birth_date, location = 'Joe,1990.01.01,London'.split(',')
print (birth_date)

1990.01.01

### strip + rstrip + lstrip

In [7]:
print ('   bad '.lstrip())
print ('   bad '.rstrip())
print ('   bad '.strip())

bad
   bad
bad

### lower + upper

In [8]:
data = 'Alex'
if data.lower() == 'alex':
    print (data.upper())

ALEX

### join

In [10]:
names = 'bob', 'joe', 'tom'
print ('\n'.join(names))

bob
joe
tom

### format

In [11]:
'The {} in {country} stays mainly on the {place}.'.format('rain', country='Spain', place="plains")

'old strings'

### replace

In [15]:
'Hello; there, world.'.replace(';', ' ').replace(',', ' ').replace('.', ' ').split(' ')

['Hello', '', 'there', '', 'world', '']

### startswith + endswith

In [23]:
name = 'Popescu'
if name.endswith('escu'):
    print (f"{name} is a Romanian name")

Popescu is a Romanian name

1230231922161117176931558813276752514640713895736833715766118029160058800614672948775360067838593459582429649254051804908512884180898236823585082482065348331234959350355845017413023320111360666922624728239756880416434478315693675013413090757208690376793296658810662941824493488451726505303712916005346747908623702673480919353936813105736620402352744776903840477883651100322409301983488363802930540482487909763484098253940728685132044408863734754271212592471778643949486688511721051561970432780747454823776808464180697103083861812184348565522740195796682622205511845512080552010310050255801589349645928001133745474220715013683413907542779063759833876101354235184245096670042160720629411581502371248008430447184842098610320580417992206662247328722122088513643683907670360209162653670641130936997002170500675501374723998766005827579300723253474890612250135171889174899079911291512399773872178519018229989377

## Variables and Numbers

In [28]:
bytes_in_a_megabyte = 2**20
one_million = 1_000_000
print (f"A megabyte is {bytes_in_a_megabyte} bytes. Technically it's called mebibyte (MiB)")
print (f'{one_million} bytes is a megabyte (MB) and is {100 * one_million / bytes_in_a_megabyte:6.2f}% of a mebibyte.')

A megabyte is 1048576 bytes. Technically it's called mebibyte (MiB)
1000000 bytes is a megabyte (MB) and is  95.37% of a mebibyte.

## Working with files

In [33]:
import sys

# filename = 'haiku.txt'
script, filename = sys.argv

def print_file(filename):
    reader = open(filename)
    code = reader.read()
    reader.close()
    print(code)
    
print_file(filename)

An old silent pond...
A frog jumps into the pond,
splash! Silence again.

- Matsuo Bashō

## Excercise

Write an python script called `cat.py`. Given an input parameter it print the contents of that file.

> cat.py haiku.txt

In [46]:
filename = "bignum.txt"
data = 2**100

def write_file(filename, data):
    writer = open(filename, "wb")
    writer.write(data)
    writer.close()

output = bytes(str(data), 'utf8')    
    
write_file(filename, output)
print_file(filename)

1267650600228229401496703205376

## Functions

In [53]:
def add(a: int, b: int, other=10) -> int:
    "Adds two variabls"
    return a + b + other

print ('42 + 100', add(42, 100))
print ('42 + 100', add(42, 100, other=0))

# print ('"foo" + "bar"', add('foo', 'bar'))
# print ('[1] + [2]', add([1], [2]))

42 + 100 152
42 + 100 142

In [49]:
? add

Signature:  add(a, b)
Docstring: Adds two variabls
File:      ~/source/syneto/time-machine-labs/lab_2/<ipython-input-48-297c6d154a63>
Type:      function

In [34]:
def function(*args, **kwargs):
    print (args)
    print (kwargs)
    
function()
function(1)
function(42, foo='bar')

()
{}
(1,)
{}
(42,)
{'foo': 'bar'}

## conditionals

```python
if cond1:
    "<true-branch>"
elif not cond2:
    "<elif-branch>"
else:
    "<else-branch>"
```

### [truthyness](https://docs.python.org/3/library/stdtypes.html#truth-value-testing)

These onsidered falsey:
 - None and False.
 - zeros: 0, 0.0, 0j, Decimal(0), Fraction(0, 1)
 - empty bags: '', (), [], {}, set(), range(0)

## Lists and Tuples

In [55]:
numeric_list = [1, 2, 3, 4]
numeric_tuple = (42, 41, 9)
mixed = [1, 2, (3, )]

### lookup and slices

In [56]:
items = ['bear', 'dog', 'goldfish', 'octokitty']
print (items[0])
print (items[1:])
print (items[-1])
print (items[-2:])

bear
['dog', 'goldfish', 'octokitty']
octokitty
['goldfish', 'octokitty']

### len

In [51]:
len([1, 2, 3])

3

In [57]:
len(())

0

### append

In [57]:
nums = [1, 2]
nums.append(3)
nums

[1, 2, 3]

### extend

In [58]:
nums = [1, 2]
nums.extend([3, 4])
nums

[1, 2, 3, 4]

In [66]:
def myextend(list_, other):
    return list_ + other
    
x = [1, 2]
y = myextend(x, [3])

### sort

In [67]:
years = ['2011', '1988', '2000', '2007']
years.sort()
years

['1988', '2000', '2007', '2011']

### reverse

In [68]:
value = [1, 2, 3]
value.reverse()
value

[3, 2, 1]

In [79]:
years = [['c', 1], ['a', 2], ['z', 0]]
sorted(years, key=lambda item: item[1])

[['z', 0], ['c', 1], ['a', 2]]

### sorted + reversed
same as mutable functions but return a new copy of the list each time

### iteration and processing

In [87]:
total = 0
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for value in numbers:
    total += value
    
print(total)

55

### Exercise

Write a function that multiplies each list value by -1
```python
negate([1, 2, 3])
[-1, -2, -3]
negate([-3, 0, 42])
[3, 0, -42]
negate([])
[]
```

In [96]:
def negate(mylist):
    result_list = []
    for value in mylist:
        value *= -1
        result_list.append(value)
    print(result_list)
    return result_list

def negate2(mylist):
    newlist = [-1 * value for value in mylist]
    print (newlist)
    return newlist

negate2([1])
negate2([-1, 1])
negate2([])

[-1]
[1, -1]
[]

[]

In [104]:
items = ['42', 0, True, None, '', 9000]
for item in items:
    if item == 'nu exista':
        break
else:
    print ('no none in mylist')

no none in mylist

In [108]:
animals = ['Ox', 'Tiger', 'Rabbit', 'Dragon', 'Snake', 'Horse', 'Goat', 'Monkey', 'Rooster', 'Dog', 'Pig', 'Rat']
years = [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
for index, animal in enumerate(animals):
    if animal == 'Goat':
        print (years[index])
    #print (years[index], animal)
    
for animal, year in zip(animals, years):
    print (animal, year)

2015
Ox 2009
Tiger 2010
Rabbit 2011
Dragon 2012
Snake 2013
Horse 2014
Goat 2015
Monkey 2016
Rooster 2017
Dog 2018
Pig 2019
Rat 2020

### Exercise

Write a program that takes a year as an argument and prints the Chinese Animal.

```bash
shell> python3 zodiac.py 1990
Horse
```

## Dictionaries

In [111]:
capitals = {
    'Timis': 'Timisoara',
    'Bihor': 'Oradea',
    'Arad': 'Arad',
    'Hunedoara': 'Deva',
    'Caras-Severin': 'Resita',
}

### Lookup [] and Assingment

In [112]:
capitals['Hunedoara']

'Deva'

In [77]:
capitals.get('Alba', 'Unknown')

'Unknown'

In [82]:
capitals['Alba'] = 'Alba Iulia'
capitals.get('Alba', 'Unknown')

'Alba Iulia'

### items values keys

In [69]:
capitals.items()

dict_items([('Timisoara', 'Timis'), ('Oradea', 'Bihor'), ('Arad', 'Arad'), ('Deva', 'Hunedoara'), ('Resita', 'Caras-Severin')])

In [70]:
capitals.values()

dict_values(['Timis', 'Bihor', 'Arad', 'Hunedoara', 'Caras-Severin'])

In [71]:
capitals.keys()

dict_keys(['Timisoara', 'Oradea', 'Arad', 'Deva', 'Resita'])

### Iteration

In [113]:
for county, city in capitals.items():
    print (f'{county} -> {city}')
    
for count in capitals:
    print (capitals[count])

Timis -> Timisoara
Bihor -> Oradea
Arad -> Arad
Hunedoara -> Deva
Caras-Severin -> Resita
Timisoara
Oradea
Arad
Deva
Resita

### Exercise:
Strings are iterable just a lists, write a function that returns the letter count of a longer string:

``` python

letter_count('Python gives you superpowers.')

{'p': 3,
 'y': 2,
 't': 1,
 'h': 1,
 'o': 3,
 'n': 1,
 ' ': 3,
 'g': 1,
 'i': 1,
 'v': 1,
 'e': 3,
 's': 3,
 'u': 2,
 'r': 2,
 'w': 1,
 '.': 1}
```

### Exercise:
Write a function that returnes the reverse of the capitals
```python
judet('Timisoara')
Timis

judet('Deva')
Hunedoara
```

## Modules